# Ignore Ruby dependencies
/vendor/bundle/

# Ignore Jekyll generated site
_site/

# Ignore Sass cache files
.sass-cache/

# Ignore temporary files
*.tmp
*.swp

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore other unnecessary files
node_modules/
*.lock
*.bak
*.old
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.vscode/